@font-face {
    font-family: "Fibre";
    src: url("public/fonts/fibre-font.otf") format("opentype");
}

body {
    font-family: "Fibre";
    user-select: none;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page-top-container {
    flex: 0;
}

.page-body-container {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-bottom-container {
    flex: 0;
}

.title-offset-container {
    position: relative;
}

.title-offset {
    position: absolute;
    font-size: 2rem;
    top: -1rem;
    left: -2rem;
    transform: rotate(-30deg);

    @media (width <= 425px) {
        font-size: 1rem;
        top: -0.5rem;
        left: -1rem;
    }

    @media (425px < width <= 768px) {
        font-size: 1.5rem;
        top: -0.75rem;
        left: -1rem;
    }
}

h1 {
    font-size: 8rem;
    text-align: center;
    color: #000;
    margin-top: 4rem;
    margin-bottom: 0;
    margin-left: 2rem;
    margin-right: 2rem;

    @media (width <= 425px) {
        font-size: 3rem;
    }

    @media (425px < width <= 768px) {
        font-size: 4rem;
    }
}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.timer-display {
    font-size: 7rem;
    flex: 1;
    text-align: right;
    user-select: none;
    padding-top: 1rem;

    @media (max-width: 768px) {
        font-size: 4rem;
    }
}


.timer-controls {
    flex: 1;
    display: flex;
    justify-items: center;
    gap: 2rem;
    img {
        width: 4rem;
        height: 4rem;

        @media (max-width: 768px) {
            width: 2rem;
            height: 2rem;
        }
    }
}

.dice-container {
    margin-top: 4rem;
    margin-bottom: 3rem;

    @media (max-width: 768px) {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

.dice-value {
    font-size: 12rem;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}

.hover-icon {
    &:hover {
        cursor: pointer;
    }
}

.solo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
    color: #000;
    img {
        width: 4rem;
        height: 4rem;

        @media (max-width: 768px) {
            width: 2rem;
            height: 2rem;
        }
    }
}

.solo-text {
    font-size: 5rem;
    padding-top: 1rem;

    @media (max-width: 768px) {
        font-size: 2rem;
    }
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.social-icon {
    width: 2rem;
    height: 2rem;
}

.help-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.help-modal-background {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    backdrop-filter: blur(10px);
    &:hover {
        cursor: pointer;
    }
}

.help-modal {
    background-color: #fff;
    border: 1px solid #000;
    padding: 1rem;
    top: 0;
    left: 0;
    height: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
    &:hover {
        cursor: default;
    }
    /* TODO Not this */
    max-width: 50rem;
}

.help-modal-content {
    font-size: 1rem;
    line-height: 1.5;
}

.close-icon-container {
    position: relative;
}

.close-icon {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
    &:hover {
        cursor: pointer;
    }
}
